.activity-section {
    margin-bottom: 2rem;
}
.activity-section h2 {
    margin-bottom: 1rem;
    color: var(--text-main);
}
.activity-section img {
    width: 50%;
    height: auto;
    margin-bottom: 1rem;
}
.activity-section .description {
    margin-top: 1rem;
    color: var(--text-sec);
}
.activity-section iframe {
    width: 100%;
    height: 315px;
    margin-bottom: 1rem;
}
.w-33 {
    width: 33%;
}
.card-body {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.card-body .w-50 {
    width: 50%;
}
.card-body .w-33 {
    width: 33%;
}

.btn-primary {
    background-color: var(--misc);
    border: none;
}

.btn-primary:hover {
    background-color: var(--misc-sec);
    border: none;
}

.dsc {
    padding-top: 5rem;
    padding-left: -1rem;
}

.student-name {
    font-weight: bold;
    margin-top: 0.5rem;
}

.date {
    position: absolute;
    bottom: 0;
    right: 1rem;
    color: var(--text-sec);
}